<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><p style="color:white">Home</p></ion-title>
  </ion-toolbar>

  <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
  <script src="https://apis.google.com/js/platform.js?onload=init"></script>
  <script src="https://apis.google.com/js/platform"></script>
</ion-header>

<ion-content>
  <ion-col size="12">
    <ion-button color="secondary" expand="block" (click)="authorize()">GAPI Authorize</ion-button>
  </ion-col>
</ion-content>
